body {
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    color: #66BFBF;
    /* 1em = 16px, 6.625em = 90px */
    font-size: 5.625rem;
    /* margin-top, margin-right, margin-bottom, margin-left */
    /* line-height 1 is default change to to if you want to double it */
    line-height: 1;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
}

h2 {
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    /* 1em = 16px, 2.5em = 40px */
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
}

h3 {
    color: #11999e;
    font-family: 'Montserrat', sans-serif;
}

hr {
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

a {
    color: #11999e;
    font-family: 'Montserrat', sans-serif;
    margin: 0 10px;
    text-decoration: none;
  }

  a:hover {
    color: #EAF6F6;
  }

.top-container {
    background-color:#B9E9FC;
    position: relative;
    padding-top: 100px;
}

.middle-container {
    /* margin-top and bottom 100px and left and right 0 */
    margin: 100px 0;
}

.bottom-container {
    margin: 20px 0;
    background-color: #66BFBF;
    padding: 50px 0 20px;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
}

.education {
    margin: 50px auto 20px auto;
}

.pro {
    text-decoration: underline;
}

.top-cloud {
    position: absolute;
    right: 60px;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    left: 100px;
    bottom: 300px;
}

.web {
    width: 25%;
    /* use float to wrap text around the picture*/ 
}

.java {
    width: 25%;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

  .copyright {
    color: #EAF6F6;
    font-size:0.75rem;
    padding: 20px 0;
  }